//
// Variables
$azulCharmoso: #4ec2dd;
$azulSedoso: #0f4156;
//
button:focus,
input[type="submit"] {
  outline: none;
}

body {
  .modalVenda {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    &--header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;

      img {
        width: 28%;
      }
    }
    &--footer {
      height: 50%;
      padding: 0 40px;

      &--message {
        color: $azulCharmoso;
        font-size: 1.2rem;
        font-weight: 800;
        text-align: center;
        margin-bottom: 60px;
      }

      &--boxButton {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        > button {
          border: none;
          color: #fff;
          width: 38%;
          background: $azulSedoso;
          height: 38px;
          border-radius: 4px;
          font-size: 0.84rem;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background: lighten($azulSedoso, 10%);
            transition: 0.3s;
          }
        }
      }
    }
  }

  .backBlock {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;

    &.backBlock--active {
      display: block;
    }
  }

  .modalVenda {
    background: #fff;
    display: none;
    width: 320px;
    height: 400px;
    z-index: 3;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 160px);

    &--active {
      display: block;
    }
  }
}

header {
  min-height: 90px;
  border-bottom: 1px solid #e5e5e5;
  font-family: Font, Sans-Serif;

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-right: 15px;

    @media screen and (max-width: 840px) {
      padding-left: 15px;
      flex-wrap: wrap;
    }

    .menuMobileButton {
      display: none;
      width: 50px;
      height: 40px;
      position: relative;

      flex-direction: column;
      justify-content: space-between;

      .lineMenu {
        height: 20%;
        width: 100%;
        border-radius: 4px;
        background: $azulSedoso;
      }

      @media screen and (max-width: 840px) {
        display: flex;
      }

      .menuMobileList {
        display: none;
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;

        z-index: 2;

        &.menuMobileList--active {
          display: block;
        }

        > a {
          display: block;
          text-decoration: none;
          padding: 20px 60px 20px 40px;
          color: #fff;
          transition: 0.8s;
          background: $azulSedoso;
          font-weight: 800;
          letter-spacing: 1px;
          &:hover {
            background: $azulCharmoso;
            transition: 0.8s;
          }
        }
      }
    }

    > a:first-of-type {
      display: block;
      height: 90px;
      text-decoration: none;
      color: inherit;
    }

    .logo {
      height: 90px;
    }
    .menu {
      padding: 0 20px;

      @media screen and(max-width:840px) {
        display: none;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        a {
          text-decoration: none;
          color: #d3d3d3;

          &:not(last-of-type) {
            li {
              margin-right: 20px;
            }
          }

          &:last-of-type {
            li {
              font-weight: 800;
              color: $azulCharmoso;
              font-size: 1.4rem;
            }
          }

          li {
            display: inline-block;
          }
        }
      }
    }
    .search {
      width: 50%;
      height: 60px;
      min-width: 100px;
      position: relative;

      @media screen and (max-width: 800px) {
        display: none;
      }

      &.searchMobile {
        display: none;

        width: 100%;
        margin-bottom: 15px;
        box-sizing: border-box;

        @media screen and (max-width: 800px) {
          display: block;
        }
      }

      .searchIcon {
        position: absolute;
        top: calc(50% - 10px);
        left: 20px;
        fill: #c8c8c8;
      }
      input {
        font-size: 1rem;
        display: block;
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        border: none;
        border-radius: 4px;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
        padding: 10px 10px 10px 60px;

        &::placeholder {
          color: #ccc;
        }
      }
    }

    .cart {
      .linkCart {
        display: block;
        position: relative;

        img {
          fill: $azulSedoso;
        }

        .circleCart {
          padding: 2px;
          position: absolute;
          top: -2px;
          right: -8px;
          background: #4ec2dd;
          border-radius: 50%;
          min-width: 20px;
          min-height: 20px;
          color: #fff;
          text-align: center;
        }
      }
    }
  }
}
body {
  font-family: Font, Sans-Serif;
  margin: 0;
  padding: 0;

  > .container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

    .topBar {
      height: 90px;
      display: flex;
      align-items: center;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
          &:not(:last-of-type) {
            li {
              &:after {
                content: ">";
                display: inline-block;
                height: 12px;
                width: 8px;
                font-weight: 400;
                margin: 0 12px;
              }
            }
          }

          &:last-of-type {
            li {
              color: $azulCharmoso;
            }
          }

          li {
            display: inline-block;
            font-weight: 800;
            color: #c8c8c8;
          }
        }
      }
    }

    .productInfo {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 60px;
      .leftSide {
        flex: 1;
        display: flex;

        .thumbs {
          max-width: 80px;
          margin-right: 20px;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              max-height: 80px;
              max-width: 80px;
              border: 1px solid #e5e5e5;

              img {
                width: 100%;
              }
            }
          }
        }
        .productImage {
          width: calc(100% - 100px);
          border: 1px solid #e5e5e5;
          //   height: fit-content;

          @media screen and(max-width:940px) {
            height: fit-content;
          }

          img {
            width: 100%;
          }
        }
      }

      .rightSide {
        flex: 1;

        .boxTitle {
          min-height: 130px;
          padding: 0 26px 26px;
          box-sizing: border-box;
          font-size: 2rem;
          color: #c8c8c8;

          @media screen and (max-width: 840px) {
            padding: 26px;
            text-align: center;
            font-size: 1.4rem;
          }
        }

        .aParteQueInteressa {
          padding: 22px;
          background: #f8f8f8;
          min-height: 200px;
          box-sizing: border-box;
          color: #cbcbcb;
          font-size: 1.2rem;

          @media screen and(max-width:800px) {
            text-align: center;
          }

          .realPrice {
            font-weight: 800;
            font-size: 2.4rem;
            color: $azulCharmoso;
          }

          .buyButton {
            font-family: Font, Sans-Serif;
            border: none;
            display: block;
            height: 50px;
            width: 200px;
            box-shadow: 0px 3px 0px 0px #75ac5e;
            border-radius: 6px;
            background: #71ce4b;
            color: #fff;
            font-size: 1.4rem;
            font-weight: 800;
            transition: 0.3s;
            cursor: pointer;
            margin-top: 28px;

            @media screen and(max-width:800px) {
              margin: 20px auto;
              width: 100%;
              max-width: 300px;
            }

            &:hover {
              background: darken(#71ce4b, 10%);
              transition: 0.3s;
            }
          }
        }

        .frete {
          box-sizing: border-box;
          margin: 28px 28px 0;
          padding: 24px;
          min-height: 170px;
          background: $azulCharmoso;
          border-radius: 4px;
          color: #fff;

          @media screen and(max-width:800px) {
            margin: 20px 0 0;
          }

          > div:first-of-type {
            font-weight: 800;
            margin-bottom: 30px;
          }

          form {
            input {
              display: inline-block;
              height: 50px;
              border-radius: 6px;
              box-sizing: border-box;
              border: none;
              box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);

              &[type="text"] {
                margin-right: 6px;
                width: 20%;
                padding: 8px 20px;
                font-family: Font, Sans-Serif;
                font-size: 1rem;

                &::placeholder {
                  color: #ccc;
                }

                &:first-of-type {
                  width: 45%;
                }
              }

              &[type="submit"] {
                background: $azulSedoso;
                width: 29%;
                font-family: Font, Sans-Serif;
                color: #fff;
                font-size: 1rem;
                font-weight: 800;
                letter-spacing: 1px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                  transition: 0.3s;
                  background: lighten($azulSedoso, 10%);
                }
              }

              @media screen and(max-width:940px) {
                &[type="text"] {
                  width: calc(40% - 18px);

                  &:first-of-type {
                    width: 60%;
                  }

                  &:last-of-type {
                    margin-right: 0;
                  }
                }

                &[type="submit"] {
                  width: 100%;
                  margin-top: 16px;
                }
              }
            }
          }
        }
      }

      @media screen and (max-width: 800px) {
        .leftSide {
          flex: inherit;
          width: 100%;
        }
      }
    }

    .productDescription {
      &--header {
        text-align: center;
        color: $azulSedoso;
        padding: 40px 0;
        font-size: 2rem;
      }

      &--content {
        color: #ccc;

        @media screen and(max-width:800px) {
          text-align: center;
        }
      }
    }

    .quemViu {
      &--header {
        text-align: center;
        color: $azulSedoso;
        padding: 50px 0;
        font-size: 2rem;
      }

      &--content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .boxSugestionProduct {
          background: #f8f8f8;
          box-sizing: border-box;
          padding: 10px;
          padding-bottom: 140px;
          color: #cecece;
          max-width: 270px;
          position: relative;

          @media screen and (max-width: 860px) {
            margin-right: none;
            width: 100%;
            max-width: 500px;
            margin-right: inherit;
          }

          &:not(:last-child) {
            margin-right: 10px;
            margin-bottom: 10px;

            @media screen and(max-width:860px) {
              margin-right: inherit;
            }
          }

          > img {
            @media screen and(max-width:860px) {
              margin: 0 auto 20px;
              display: block;
              width: 100%;
              max-width: 320px;
            }
          }

          &--title {
            color: #cecece;
            margin-bottom: 28px;
          }

          &--boxPrice {
            position: absolute;
            bottom: 90px;
          }

          &--price {
          }

          &--realPrice {
            font-weight: 800;
            font-size: 1.5rem;
            color: $azulCharmoso;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin-top: 60px;
    background: linear-gradient(90deg, $azulSedoso 50%, $azulCharmoso 50%);

    > .container {
      width: 100%;
      height: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      background: linear-gradient(
        90deg,
        $azulSedoso 140px,
        $azulCharmoso 140px
      );

      > img {
        margin-right: 78px;
      }

      .copyrights {
        color: #fff;
      }
    }
  }
}
